{% for message in messages %}
{% if message['role'] == 'system' %}
{{ message['content'] }}
{% elif message['role'] == 'user' %}
<s>{{ message['content'] }}</s>
{% elif message['role'] == 'assistant' %}
<assistant>{{ message['content'] }}</assistant>
{% endif %}
{% endfor %}